/*https://stackoverflow.com/questions/29981236/how-do-you-hover-in-reactj
-onmouseleave-not-registered-during-fast-hover-ove/35619979*/

.hover {
  position: relative;
}
.hover:hover .hover__no-hover {
    display: none;
  }

.hover:hover .hover__hover {
    display: block;
  }

.hover__hover {
    display: none;
  }

.hover__no-hover {
    display: block;
  }
